.form-container{
    margin: 6rem 4rem;
    color: #2a2a2a;
     text-align: center;
}

.form-container form{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.form-container input{
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 3rem;
    border: 1px solid #2a2a2a;
    border-radius: .3rem;
}

.form-container button{
    display: inline;
    margin-top: 2rem;
    padding: 1rem;
}

@media screen and (max-width: 850px) {
    .form-container form{
        width: 100%;
    }
}