.destination{
    margin: 4rem 6rem;
}

.img{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}

.img img{
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0,0,0,0.19);
}
.img img:nth-child(2){
    position: absolute;
    top: -10%;
    right: 0;
}
.destination h1{
    font-size: 3rem;
    text-align: center;
}

.text{
    font-size: 1.5rem;
    text-align: center;
}

.des-text h2{
    font-size: 2rem;
}

.des-text p{
    font-size: 1.2rem;
    padding-top: 5px;
}
.first-des{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}


.first-des1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10.5rem;
}

.des-text{
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
}


.des-text h1{
    padding-bottom: 1rem;
}


@media screen and (max-width: 850px) {
    .destination{
        margin: 4rem 2rem;
    }

    .first-des{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }

    .first-des1{
        display: flex;
        flex-direction: column;
        margin-top: 2.5rem;
    }

    .des-text{
        width: 100%;
    }
    .img{
        width: 100%;
        margin: 1.8rem 0;
        
    }
}